 /* Barra de Pesquisa */
.form {
    
    width: 50%;
}


.jumbotron {
   
   
    background-image: url(img/jobs.jpg);
    background-attachment: scroll;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

